<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="POST">
      <!-- Name of someone in the class:<input type="text" name="classmate"/>
      <br>
      Activity:
      <input type="text" name="activity"/>
      <br>
      <input type="submit" name="submit" value="Generate Story"/> -->
      Name of someone: <input type="text" name="name"/>
      <br>
      Animal: <input type="text" name="animal"/>
      <br>
      How many: <input type="text" name="amount"/>
      <br>
      <input type="submit" name="submit" value="Generate Story"/>
    </form>
  </body>
</html>
